{% extends 'blog/base.html' %}
{% block content %}
{% if user.is_authenticated %}
    <div class="clearfix">
        <button type="button" class="btn btn-sm btn-outline-info float-right" onclick="location.href='/blog/create/'">New Post</button>
    </div>
{% endif %}
{% if object_list.exists %}
{% for p in object_list %}
<a href="{{ p.get_absolute_url }}" id="read-more-post{{ p.pk }}">
    <h2 class="post-title">
        {{ p.title }}
    </h2>
    <p>
        {{ p.content | truncatewords:15 }}
    </p>
</a>
<p class="post-meta">Posted by
    {{ p.author }}
    on {{ p.created }}</p>
<hr/>
<!--{% if p.head_image %}-->
<!--<img class="card-img-top" src="{{ p.head_image.url }}" alt="Card image cap">-->
<!--{% endif %}-->
{% endfor %}
{% else %}
<h3>아직 게시글이 없습니다.</h3>
{% endif %}
<!-- Pager -->
    <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
    </div>
{% endblock %}
